name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.narendrachalla }}
        password: ${{ secrets.Narendra@03 }}

    - name: Build Docker Image
      run: |
        docker build -t narendrachalla/myapp:latest .

    - name: Push Docker Image
      run: |
        docker push narendrachalla/myapp:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.30.0

    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

    - name: Deploy to Kubernetes
      run: |
        kubectl set image deployment/myapp myapp=narendrachalla/myapp:latest
        kubectl rollout status deployment/myapp
